/* line 1, ../../src/stylesheets/main.sass */
.fullscreen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}

/* line 11, ../../src/stylesheets/main.sass */
canvas {
  z-index: -100;
}

/* line 14, ../../src/stylesheets/main.sass */
video {
  background: -webkit-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -moz-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -ms-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -o-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  z-index: -110;
}

/* line 22, ../../src/stylesheets/main.sass */
.opaque {
  opacity: 0.85 !important;
}

/* line 25, ../../src/stylesheets/main.sass */
.full-opaque {
  opacity: 1 !important;
}

/* line 28, ../../src/stylesheets/main.sass */
#black-cover {
  background: -webkit-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -moz-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -ms-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: -o-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  background: linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  opacity: 0;
  transition: opacity 2s;
}

@-webkit-keyframes colorCycle {
  /* line 38, ../../src/stylesheets/main.sass */
  0% {
    border: 0.3rem solid whitesmoke;
    opacity: 1;
  }

  /* line 41, ../../src/stylesheets/main.sass */
  25% {
    border: 0.3rem solid #3a6073;
  }

  /* line 43, ../../src/stylesheets/main.sass */
  50% {
    border: 0.3rem solid #16222a;
    opacity: 0.5;
  }

  /* line 46, ../../src/stylesheets/main.sass */
  75% {
    border: 0.3rem solid #85d8ce;
  }

  /* line 48, ../../src/stylesheets/main.sass */
  100% {
    border: 0.3rem solid whitesmoke;
    opacity: 1;
  }
}

@keyframes colorCycle {
  /* line 54, ../../src/stylesheets/main.sass */
  0% {
    border: 0.3rem solid whitesmoke;
    opacity: 1;
  }

  /* line 57, ../../src/stylesheets/main.sass */
  15% {
    border: 0.3rem solid #3a6073;
  }

  /* line 59, ../../src/stylesheets/main.sass */
  50% {
    border: 0.3rem solid #16222a;
    opacity: 0.5;
  }

  /* line 62, ../../src/stylesheets/main.sass */
  85% {
    border: 0.3rem solid #85d8ce;
  }

  /* line 64, ../../src/stylesheets/main.sass */
  100% {
    border: 0.3rem solid whitesmoke;
    opacity: 1;
  }
}

/* line 68, ../../src/stylesheets/main.sass */
.colorCycle {
  animation-name: colorCycle;
  animation-duration: 7s !important;
  -webkit-animation-name: colorCycle;
  -webkit-animation-duration: 7s !important;
}

/* line 75, ../../src/stylesheets/main.sass */
#face-hole {
  width: 65vh;
  height: 65vh;
  border: 0.3rem solid whitesmoke;
  border-radius: 50%;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 87, ../../src/stylesheets/main.sass */
.container {
  position: fixed;
  text-align: center;
  height: 8.1rem;
  width: 50rem;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 4rem;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 99, ../../src/stylesheets/main.sass */
.container h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: center;
}
/* line 108, ../../src/stylesheets/main.sass */
.container p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
}

/* line 112, ../../src/stylesheets/main.sass */
#info-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 128, ../../src/stylesheets/main.sass */
#info-page h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  margin-top: 4rem;
  text-align: center;
}
/* line 134, ../../src/stylesheets/main.sass */
#info-page p {
  color: #c5c5c5;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.9rem;
}

/* line 140, ../../src/stylesheets/main.sass */
.button {
  position: fixed;
  bottom: 4%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 8rem;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

/* line 157, ../../src/stylesheets/main.sass */
#snap-a-pic {
  background: #85d8ce;
  border-bottom: 2px solid #14947b;
  -webkit-box-shadow: inset 0 -2px #14947b;
  box-shadow: inset 0 -2px #14947b;
}

/* line 163, ../../src/stylesheets/main.sass */
#reset {
  background: #bd8616;
  border-bottom: 2px solid #825c0f;
  -webkit-box-shadow: inset 0 -2px #825c0f;
  box-shadow: inset 0 -2px #825c0f;
}

/* line 169, ../../src/stylesheets/main.sass */
.hidden {
  display: none;
}

/* line 172, ../../src/stylesheets/main.sass */
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

/* line 184, ../../src/stylesheets/main.sass */
.spinner > div {
  display: inline-block;
  height: 100%;
  width: 6px;
  background-color: #79d2bc;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 193, ../../src/stylesheets/main.sass */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 197, ../../src/stylesheets/main.sass */
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* line 201, ../../src/stylesheets/main.sass */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 205, ../../src/stylesheets/main.sass */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  /* line 210, ../../src/stylesheets/main.sass */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 212, ../../src/stylesheets/main.sass */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  /* line 216, ../../src/stylesheets/main.sass */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 219, ../../src/stylesheets/main.sass */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* line 223, ../../src/stylesheets/main.sass */
.lahacks {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.3rem;
}
/* line 229, ../../src/stylesheets/main.sass */
.lahacks img {
  width: 50px;
  height: 50px;
}

/* line 233, ../../src/stylesheets/main.sass */
.challenge-post {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.3rem;
}
/* line 239, ../../src/stylesheets/main.sass */
.challenge-post img {
  width: 50px;
  height: 50px;
}

/* line 243, ../../src/stylesheets/main.sass */
#spotify-container {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
/* line 250, ../../src/stylesheets/main.sass */
#spotify-container .centered {
  text-align: center;
}
/* line 253, ../../src/stylesheets/main.sass */
#spotify-container h1 {
  text-align: center;
}
/* line 256, ../../src/stylesheets/main.sass */
#spotify-container h2 {
  text-align: center;
}
/* line 259, ../../src/stylesheets/main.sass */
#spotify-container #info {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}
/* line 264, ../../src/stylesheets/main.sass */
#spotify-container #footer {
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
/* line 270, ../../src/stylesheets/main.sass */
#spotify-container .sp-album-art {
  width: 300px;
  height: 300px;
}
/* line 274, ../../src/stylesheets/main.sass */
#spotify-container .sp-title {
  width: 280px;
  height: 28px;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 284, ../../src/stylesheets/main.sass */
#spotify-container .sp-info {
  text-align: center;
}
/* line 287, ../../src/stylesheets/main.sass */
#spotify-container .sp-controls {
  margin-top: 4px;
}
/* line 290, ../../src/stylesheets/main.sass */
#spotify-container .sp-artist {
  text-align: center;
  width: 280px;
  height: 28px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 301, ../../src/stylesheets/main.sass */
#spotify-container .sp-player {
  background-color: #111111;
  color: white;
  width: 300px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}
